<% provide(:title, "Index") %>
<h1 class="mt-2">Welcome to the Crypto Currency Manager</h1>
<p class="blockquote">Keep track of the latest crypto and manage your holdings</p>
<hr>


<!-- loop through json list of crypto-->
<% @coins.each do |num| %>
  <!-- loop through @my_coins-->
  <% for coin in @my_coins %>
  <!-- if my coin is equal to the name of one of the json crypto list symbol then...-->
    <% if coin == num['symbol']%>
      Rank <%= num['rank'] %>  
      <%= num['name']%> :
      $<%= (num['price_usd']).to_f.round(3)%> <br>

    <% end %>
  <% end %>



<% end %>
  <div class="row ">
    <div class="col-md-9">
      
    </div>
    <div class="col-md-3">
      <div class="d-flex text-secondary justify-content-end" >Log in to manage portfolio</div>
    </div>
  </div>

